@media (max-width:920px){
    header .header_nav {
        display: none;
    }

    header .menu_burger {
        display: flex;
    }


    .menu_burger{
        visibility: visible;
        height: auto;
        position: relative;
        top:2vh;
        
    }

    main .first_screen_section{
        background-image: none;
        background-color: #9AD2DE;
    }

    section .first_screen_container{
        width: 90%;
        justify-content: center;
    }

    .first_screen_container .first_screen_title{
        font-size: 9vw;

    }

    .about_us_article{
        flex-direction: column;
        align-items: center;
        
    }

    article .about_us_img{
        margin-top: 1.25em;
        width: 100%;
        max-width: none;
    }

    section .our_mission_article{
        margin-top: 30vh;
    }

    .footer_contacts{
        flex-direction: column;
        align-items: center;
    }

    .footer_text_content{
        padding-top: 4vh;

    }

}

@media (max-width:570px){
    article .h2{
        font-size: 10vw;
    }

    div .about_us_h3{
        font-size: 8vw;
        font-weight: 600;
    }

    section .our_mission_article{
        margin-top: 15vh;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    article .our_mission_p{
        max-width: 92vw;
        padding-right: 0;

    }

    article .our_mission_img{
        position: static;
        width: 90%;
        max-width: none;
    }

    h4 .donate_goal_number_wrap{
        display: block;
    }

    



}